<div id="game">
<% unless session[:game_message].nil? %>
  <div><h3 style="margin: auto;"><%= session[:game_message] %></h3></div>
<% end %>
<% if session[:game_won] == false %>
  <% session[:first_card] = true %>
<% else %>
  <% session[:first_card] = false %>
<% end %>

<div id="cloth">
  <div class="left">
    <%= stats_table %>
  </div>
  <div class="right">
  <%= player_view %>

      
  <%= form_buttons %>

  <%= dealer_view %>
  
  </div>
</div>

<%= show_env %>
</div>