<div id="cloth"><h4><%= session[:player_name] %>'s cards:</h4>
<h5>Total chips: $<%= session[:player_chips] %></h5>
  <div class="row-fluid" style="border: 1px dashed blue">
    <div class="span6" style="border: 1px solid black">
  <% session[:player_cards].each do |suit, card| %>
    <img id="card" src="images/cards/<%= suit %>_<%= card %>.jpg" />
  <% end %>
Your total is <%= add_cards(session[:player_cards]) %>
</div></div>

<h4>Dealer's cards:</h4>
<div class="row-fluid" style="border: 1px dashed blue">
  <div class="span6" style="border: 1px solid black">
  <% @first_card = true %>
  <% session[:dealer_cards].each do |suit, card| %>
    <% if @first_card == true %>
      <img id="card" src="images/cards/cover.jpg" />
      <% @first_card = false %>
    <% else %>
      <img id="card" src="images/cards/<%= suit %>_<%= card %>.jpg" />
    <% end %>
  <% end %>
</div></div>
</div>